<%- include('partials/header') -%>
<main class="p-1">

    
    <section class="container-fluid">
        <h2>Hello User</h2>
        
        <div class="row">
        
            <div class="col-lg-6 col-xl-7 col-xxl-8 table-responsive">
                <!-- issues -->
                <table class="table table-hover table-bordered caption-top">
                    <caption>Issues</caption>
                <thead>
                    <tr>
                        <th scope="col">room number</th>
                        <th scope="col">issue</th>
                        <th scope="col">date</th>
                        <th scope="col">add</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>000</td>
                        <td>no issue just test</td>
                        <td>04/01/2023</td>
                        <td>archive - modify - see more</td>
                    </tr>
                </tbody>
                </table>

                <!-- miscellaneous -->
                <table class="table table-hover table-bordered caption-top">
                    <caption>Miscellaneous</caption>
                    <thead>
                        <tr>
                            <th scope="col">notes</th>
                            <th scope="col">date</th>
                            <th scope="col">add</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>no note just test</td>
                            <td>04/01/2023</td>
                            <td>archive - modify - see more</td>
                        </tr>
                    </tbody>
                </table> 
            </div>

            <div class="col-lg-6 col-xl-5 col-xxl-4 table-responsive">
                <!-- wakeup calls -->
                <table class="table table-hover table-bordered caption-top">
                    <caption>Wake up calls</caption>
                    <thead>
                        <tr>
                            <th scope="col">room number</th>
                            <th scope="col">wakeup time</th>
                            <th scope="col">guest name</th>
                            <th scope="col">notes</th>
                            <th scope="col">add</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>000</td>
                            <td>08:00am</td>
                            <td>Mrs. Parker</td>
                            <td>may need to call more than once</td>
                            <td>archive - modify - see more</td>
                        </tr>
                    </tbody>
                </table>
                            
                <!-- taxis -->
                <table class="table table-hover table-bordered caption-top">
                    <caption>Taxis</caption>
                    <thead>
                        <tr>
                            <th scope="col">room number</th>
                            <th scope="col">pickup time</th>
                            <th scope="col">booking number</th>
                            <th scope="col">notes</th>
                            <th scope="col">add</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>000</td>
                            <td>08:00am 05/01/2023</td>
                            <td>1abc23</td>
                            <td>no observation just test</td>
                            <td>archive - modify - see more</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
        </div>

    </section>
</main>

<%- include('partials/footer') -%>