<%- include('partials/header') -%>
<main class="container">
    <!-- issues -->
    <table class="table table-hover">
        <thead>
            <th>room number</th>
            <th>issue</th>
            <th>date</th>
            <th>add</th>
        </thead>
    </table>

    <!-- wakeup calls -->
    <table class="table table-hover">
        <thead>
            <tr>
                <th>room number</th>
                <th>date and time</th>
                <th>observations</th>
                <th>add</th>
            </tr>
        </thead>
    </table>

    <!-- miselanious -->
    <table class="table table-hover">
        <thead>
            <tr>
                <th>notes</th>
                <th>date</th>
                <th>add</th>
            </tr>
        </thead>
    </table>

    <!-- taxis -->
    <table class="table table-hover">
        <thead>
            <tr>
                <th>room number</th>
                <th>pickup time</th>
                <th>booking number</th>
                <th>observations</th>
                <th>add</th>
            </tr>
        </thead>
    </table>
</main>
<%- include('partials/footer') -%>