<%- include('partials/header') -%>
<main class="container mt-3">
    <h1>Welcome to the front desk logger</h1>
        <h5>This app allows you and your hotel to track what's happening at the Front Desk</h5>
        <h6>Steps:</h6>
        <ol>
            <li>Create an accout for you and your hotel</li>
            <li>Inside you account go to settings and start adding your employees</li>
            <li>Start logging and sharing what's going on at reception!</li>
        </ol>
    <div class="d-flex justify-content-center gap-1">
        <a href="/login" class="btn btn-outline-primary">Login</a>
        <a href="/signup" class="btn btn-outline-primary">Sign up</a>
    </div>
</main>

<%- include('partials/footer') -%>
