<%- include('partials/header') -%>

<main class="p-1">

    <!-- navbar -->
    <nav class="d-flex justify-content-md-end pt-3 ">    
        <a href="/feed" class="text-decoration-none pe-3">Feed</a>
        <a href="/archive" class="text-decoration-none pe-3">archive</a>    
        <a href="/logout" class="text-decoration-none pe-3">logout</a>
    </nav>

    

</main>

<%- include('partials/footer') -%>